{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZCloud</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="ZCloud" />
    <meta name="keywords" content="ZCloud"/>
    <meta name="author" content="CodedThemes"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'login/images/logo-128.png' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" class="b-brand">
                        <img src="{% static 'login/images/logo-128.png' %}" alt="Avatar">
                    <span class="b-title">ZCloud</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label><h5 style="color: yellow;">Cloud Servers</h5></label>
                    </li>
                    {% for vm in request.session.vms %}
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">{{vm.name}}</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'summary' vm.name %}" class="">Summary</a></li>
                            <li class=""><a href="{% url 'console' vm.name %}" class="">Console</a></li>
                            <li class="active"><a href="{% url 'backup' vm.name %}" class="">Backup</a></li>
                            <li class=""><a href="{% url 'snapshots' vm.name %}" class="">Snapshots</a></li>
                            <li class=""><a href="{% url 'firewall' vm.name %}" class="">Firewall</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                    <li data-username="" class="nav-item">
                        <a href="{% url 'helpdesk' client.id %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Helpdesk</span></a>
                    </li>
                    <li data-username="" class="nav-item">
                        <a href="{% url 'logs' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Logs</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="#" class="b-brand">
                <img src="{% static 'login/images/logo-128.png' %}" alt="Avatar">
               <span class="b-title">ZCloud</span>
           </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                </div>
                            </div>
                            <ul class="noti-body">
                                {% for notification in notifications %}
                                  <li class="notification">
                                      <div class="media">
                                          <img class="img-radius" src="{% static 'login/images/zcloudc.png' %}" alt="Generic placeholder image">
                                          <div class="media-body">
                                              <p class="ml-3"><strong><a href="{% url 'notifications' notification.id %}">{{notification.heading1}}</a> </strong></p>
                                              <p>{{notification.heading2}}</p>
                                          </div>
                                      </div>
                                  </li>
                                  {% endfor %}
                              </ul>
                            <div class="noti-footer">
                                <a href="javascript:"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="{% static 'login/images/zcloudc.png' %}" class="img-radius" alt="User-Profile-Image">
                                <span>{{client.company_name}}</span>
                                <a href="#" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="{% url 'cloudservers' %}" class="dropdown-item"><i class="feather icon-clipboard"></i>Dashboard</a></li>
                                <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="feather icon-lock"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center ">
                            {% for message in messages%}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>{{message}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <a href="{% url 'backup' vm.name %}">
                                    <small>
                                        refresh
                                    </small>
                                </a>
                              </div>
                            {% endfor %}
                        </div>
                        <br>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <label><h5 style="color: blue;">Backups</h5></label>
                            <div class="row">
                                <div class="col-xl-8 col-md-12 m-b-30">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li>
                                            <div style="display:flex">
                                                <!-- BACKUP NOW -->
                                                <!-- Button trigger modal -->
                                                <button type="button" id="backupnow" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Backup Now
                                                </button>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Backup</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <form action="{% url 'backupnow' %}" method="post">
                                                            {% csrf_token %}
                                                            <label for="notes">Notes</label>
                                                            <input type="text" name="notes" required placeholder="{{request.session.vmname}}" class="form-control"><br>
                                                            <button type="submit" class="btn btn-primary">Backup</button>
                                                        </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- BACKUP NOW END-->
                                            </div>
                                        </li>
                                    </ul>
                                    
                                    <div class="col-xl-6 col-md-6 m-b-30">
                                        <table class="table" style="width:100%">
                                            <thead class="thead-light">
                                              <tr>
                                                <th>Name</th>
                                                <th>Notes</th>
                                                <th>Date</th>
                                                <th>Restore</th>
                                                <th>Remove</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for backup in request.session.backups %}
                                                <tr>
                                                    <td>{{backup.volid_edited}}</td>
                                                    <td>{{backup.notes}}</td>
    
                                                    <td>{{backup.ctime}}</td>
                                                    <td align="center">
                                                    
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter2">
                                                        Restore
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <p> Backup Restore - This will permanently erase the current data.</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form action="/restorebackup" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="volid" value="{{backup.volid}}">
                                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                                </form>
                                                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                                                                    No
                                                                </button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <!-- BACKUP NOW END-->
                                                    </td>
                                                    <td align="center">
                                                    <form action="/removebackup" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="volid" value="{{backup.volid}}">
                                                        <button type="submit" class="btn btn-danger">Remove</button>
                                                    </form>
                                                     </td>
                                                </tr>
                                                <tr>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>    
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <style>
        iframe{      
              display: block;  /* iframes are inline by default */   
              height: 100vh;  /* Set height to 100% of the viewport height */   
              width: 80vw;  /* Set width to 100% of the viewport width */     
              border: none; /* Remove default border */
              background: lightyellow; /* Just for styling */
              margin: auto;
          }
	img {
        border-radius: 25%;
        width: 45px;
        height: 45px;
        }
    </style>

    <!-- Required Js -->
    <script>
        backup = document.getElementById('backupnow')
        var number_ofbks = "{{number_ofbks}}"
        console.log(number_ofbks)
        if(number_ofbks >= 1){ 
            backup.disabled = true
        }
    </script>
<script src="{% static 'dashboard/js/vendor-all.min.js' %}"></script>
	<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/pcoded.min.js' %}"></script>

</body>
</html>
