{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ZCloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="ZCloud" />
    <meta name="keywords" content="ZCloud"/>
    <meta name="author" content="CodedThemes"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'login/images/logo-128.png' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'dashboard/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" class="b-brand">
                        <img src="{% static 'login/images/logo-128.png' %}" alt="Avatar">
                    <span class="b-title">ZCloud</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="" class="nav-item">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label><h5 style="color: yellow;">Cloud Servers</h5></label>
                    </li>
                    {% for vm in request.session.vms %}
                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">{{vm.name}}</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="{% url 'summary' vm.name %}" class="">Summary</a></li>
                            <li class=""><a href="{% url 'console' vm.name %}" class="">Console</a></li>
                            <li class=""><a href="{% url 'backup' vm.name %}" class="">Backup</a></li>
                            <li class=""><a href="{% url 'snapshots' vm.name %}" class="">Snapshots</a></li>
                            <li class=""><a href="{% url 'firewall' vm.name %}" class="">Firewall</a></li>
                        </ul>
                    </li>
                    {% endfor %}
                    
                    <li data-username="" class="nav-item active">
                        <a href="{% url 'helpdesk' client.id %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Helpdesk</span></a>
                    </li>
                    
                    <li data-username="" class="nav-item">
                        <a href="{% url 'logs' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Logs</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="index.html" class="b-brand">
                   <img src="{% static 'login/images/logo-128.png' %}" alt="Avatar">
                   <span class="b-title">ZCloud</span>
               </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                </div>
                            </div>
                            <ul class="noti-body">
                              {% for notification in notifications|slice:"0:4"  %}
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="{% static 'login/images/zcloudc.png' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p class="ml-3"><strong><a href="{% url 'notifications' notification.id %}">{{notification.heading1}}</a> </strong></p>
                                            <p>{{notification.heading2}}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="noti-footer">
                                <a href="javascript:"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="{% static 'login/images/zcloudc.png' %}" class="img-radius" alt="User-Profile-Image">
                                <span>{{client.company_name}}</span>
                                <a href="#" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="{% url 'cloudservers' %}" class="dropdown-item"><i class="feather icon-clipboard"></i>Dashboard</a></li>
                                <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="feather icon-lock"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <section style="background-color: #eee;">
                                <div class="container py-5">
                                  <div class="row">
                                    <div class="col">
                                      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                        <ol class="breadcrumb mb-0">
                                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                                          <li class="breadcrumb-item"><a href="#">{{client.company_name}}</a></li>
                                          <li class="breadcrumb-item active" aria-current="page">Helpdesk</li>
                                        </ol>
                                      </nav>
                                    </div>
                                  </div>
                              
                                  <div class="row">
                                    <div class="col-xl-10 col-md-10 m-b-30">
                                        <div class="card card-event col-xl-12">
                                            <div class="card-block">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col">
                                                        <h5 class="m-0" id="uptime">Ticketing</h5><hr>
                                                        <form action="{% url 'helpdesk' client.id %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="text" class="form-control" placeholder="Subject" required name="subject" id=""><br>
                                                            <textarea class="form-control" placeholder="Description" name="description" cols="30" rows="10"></textarea> <br>
                                                            <select name="category" class="form-control" id="">
                                                                <option value="other">Category</option>
                                                                <option value="issue 1">I need you to reset my server</option>
                                                                <option value="issue 2">I cannot access my console</option>
                                                                <option value="issue 3">Internal Server Error</option>
                                                                <option value="issue 4">Error while taking backup</option>
                                                                <option value="issue 5">Error while taking snapshot</option>
                                                                <option value="issue 6">Error while adding Firewall rule</option>
                                                                <option value="other">Other</option>
                                                            </select><br>
                                                            <button class="btn btn-primary ms-1">Create Ticket</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  
                
                                </div>
                              </section><br><br>
                            <!-- [ Main Content ] end -->
                            <div class="col-xl-12 col-md-10 m-b-30">
                                <table class="table">
                                    <thead class="thead-light">
                                      <tr>
                                        <th>Subject</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Remove</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for ticket in tickets %}
                                        <tr>
                                            <td>{{ticket.subject}}</td>
                                            <td>{{ticket.category}}</td>
                                            <td>{{ticket.description}}</td>
                                            <td>{{ticket.status}}</td>
                                            <td><a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-primary">Edit</a></td>
                                            <td>
                                                <form action="/remove_ticket" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="ticketid" value="{{ticket.id}}">
                                                    <input type="hidden" name="clientid" value="{{client.id}}">
                                                    <button type="submit" class="btn btn-danger rounded-3">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <style>
	img {
        border-radius: 25%;
        width: 45px;
        height: 45px;
        }
        .table td.fit, 
        .table td.fit {
            white-space: nowrap;
            width: 1%;
        }

    </style>

    <!-- Required Js -->
<script src="{% static 'dashboard/js/vendor-all.min.js' %}"></script>
	<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/pcoded.min.js' %}"></script>

</body>
</html>
